<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Reputation</title>
  
  
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Lato'>
</head>

<body style="background: {{ color }};">
<div style='font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";'>

<h4 style="font-size: 43px; text-align: center;">
    <span>{{ token_name }} is {{ state }}</span>
</h4>
</div>
</body>
</html>
